@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	font-size: 1.5em;
	font-family: 'Open Sans',sans-serif;
	background-color: #fafafa;
}

.container{
	width: 80vw;
	position: relative;
	margin: 0 auto;
}

.header{
	background-color: #fff;
	padding: 0;
	padding-top: 5px;
	border-bottom: 2px solid #ededed;
}

.header .container{
	display: flex;
	justify-content: space-between;
}

.header__logo{
	height: 1.5em;
	width: auto;
}

.header__direct{
	font-size: 0.8em;
	color: black;
}

.stories{
	padding: 0.3em 0;
	border-bottom: 1px solid #ededed;
}

.stories__list{
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.stories__item {
	width: 2.5em;
	border-radius: 100%;
	overflow: hidden;
	height: 2.5em;
	margin: 0 0.2em;
}

.stories__item--new{
	padding: 0.1em;
	background: linear-gradient(45deg, #f5a04d, #a00f8b);
}

.stories__foto{
	width: 100%;
	border-radius: 100%;
	padding: 0.05em;
	background: white;
	height: auto;
}

.cards{
	padding:0;
	margin: 0;
	display: flex;
	flex-direction: column;	
} 

.cards .container{
	justify-content: center;
}

.card{
	background-color: #fff;
	width: 90%;
	border-radius: 0.5em;
	display: flex;
	flex-direction: column;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	margin: 5% auto;
	margin-top: 10px;
	position: relative;
	/* justify-content: center;
	align-items: center; */
}

.card__perfil{
	display: flex;
	align-items: center;
}

.card__head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.4em;
}

.perfil__foto{
	width: 1.5em;
	height: auto;
	border-radius: 100%;
}

.perfil__nome{
	padding-left: 0.3em;
	font-size: 0.7em;
	font-weight: bold;
}

.perfil__menu{
	text-decoration: none;
	color: black;
}

.card__post{
	width: 100%;
}

.post__foto{
	height: auto;
	width: 100%;
}

.card__icons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.4em;
}

.card__actions{
	height: auto;
	display: flex;
	justify-content: space-between;
}

.actions__comment{
	padding-left: 1em;
}

.card__liked{
	background-color: #f2f2f2;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 10px;
	padding-bottom: 5px;
}

.liked__profile{
	width: 1em;
	height: 1em;
	border-radius: 100%;
}

.liked__text{
	font-size: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 5px;
}







